{
  "freshchat": "",
  "twak": "",
  "livechat": {
    "url": "",
    "license": "",
    "entity_id": "",
    "client_id": "",
    "client_secret": "",
    "personal_access_token": ""
  },
  "email": {
    "service": "gmail",
    "auth": {
      "user": "your@email.address",
      "pass": "y0urP@s5w0rD"
    }
  }
}